.slide {height: 500px, width: 500px}
.item {
  display: flex;
  position: relative;
  .transition(.2s ease-in-out left)
}

#p1{
  color: #C1455C;
  text-align: left;
  justify-content: space-between;
}

#firstpara1 {color: #C1455C
}

#navbarsExampleDefault {
  color: #C1455C
}

.container2 {
    padding: 10px 30px 10px 30px;
    margin: 10px auto;
    box-shadow: 0 0 30px rgba(150, 150, 150, 0.25);
    border-radius: 6px;
}

.Sushipic {
    justify-content: flex-start;
    height: 200px;
    border-radius: 3px;
}

.sushi {
  height: 100%;
  flex-direction: column;
  display: flex;
}
